.title{font-size: 70px;
text-align: center;
}
.red{color: red;}
.imgages{
 display: flex;
 width: 80%;
 margin-left: 10%;
 
}
.img{
  width:250px;
  height:150px ;
  padding: 150px;

}
.center{margin-left: 4%;}
.video{ width:320;
  height:240;
  margin-left: 30%;
}